---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;


// Import partials from the `minima` theme.
@import "minima";

.site-header {
  border-top: 5px solid #B1E558;
}

blockquote {
  letter-spacing: 0px;
  font-style: normal;
  font-weight: 400;
  color: #555;

  > :last-child {
    margin-bottom: 0;
  }
}

.site-nav-simple {
  float: right;
  line-height: 56px;

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

hr {
    border: 0;
    border-top: 1px solid $grey-color-light;
    margin: 1em 0;
}

.post-list h2 {
    margin: 0.75rem 0;
    line-height: 1.25;
}

.post-book-author {
    color: $grey-color;
    font-size: 0.7em;
}

.post-list .post-link {
    display: inline;
}


.post-book-cover {
    float: right;
    max-width: 25%;
    margin: 0 0 1em 1em;
}

.post-image {
    display: block;
    height: 20rem;
    background-size: cover;
    background-position: 50% 50%;
    margin: 0 0 30px;
    border-radius: 0.15rem;
}

.site-sub-title {
    display: inline-block;
    margin: 0 0 0 1em;
    line-height: 56px;
    color: $grey-color;
}

.post-list {
    .post-book-cover {
        max-width: 20%;
    }

    > li {
        clear: both;
    }
}

.featured-image {
    width: 100%;
    margin-bottom: 2rem;
}


.related-posts {
    background: #fafafa;
    padding: 1rem;
}

.related-post-list {
    list-style: none;
    padding: 0;
    margin: 0 -0.5rem 0;
    display: flex;
    justify-content: space-between;

    li {
        background: #fff;
        margin: 0 0.5rem;
        width: 33.3%;
        flex: 1 1 auto;
        border-radius: 0 0 0.25rem 0.25rem;
        box-shadow: 1px 1px 5px rgba(180, 180, 180, 0.1);
    }

    .related-post-link {
        display: block;

        &:hover {
            text-decoration: none;
        }
    }

    .related-post-body {
        padding: 0 0.5rem;
        display: block;
    }

    .related-post-image {
        display: block;
        height: 7rem;
        background-size: cover;
        margin: 0 0 1rem;
        border-radius: 0.25rem 0.25rem 0 0;
    }

    .related-post-title {
        display: block;
        font-size: 1.25em;
        line-height: 1.25em;
        letter-spacing: -0.01em;
        color: #333;
    }
}

.post-preface {
    font-size: 1.25em;
}

blockquote {
    font-family: 'Lora', Georgia,Cambria,"Times New Roman",Times,serif;
    font-weight: 400;
    line-height: 1.48;
    color: rgba(0, 0, 0, .8);
    border: none;
    padding: 0;
    padding-left: 50px;
    text-align: left;
}
