---
layout: default
---
{% assign m = page.date | date: "%-m" | minus: 1 %}
{% assign day = page.date | date: "%-d" %}
{% assign month = site.locale.months[m] %}
{% assign year = page.date | date: "%Y" %}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ day }} {{ month }}, {{ year }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    <p>{{ page.excerpt | escape }}</p>
    <hr />
    <h3>{{ page.bibliographic_data | escape }}</h3>
    {% if page.cover != empty %}
      <img src="{{ page.cover }}" alt="{{ page.bibliographic_data | escape }}" class="post-book-cover" />
    {% endif %}
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
